<div class="img-fondo">
  <img src="../assets/fondo.jpg" alt="" class="fondo">
</div>
<div class="todo-container">
  <header class="header">
      <!-- Nav -->
      <nav>
          <ul class="nav-links">
              <li><a href="#experiencia">Experiencia</a></li>
              <li><a href="#proyectos">Proyectos</a></li>
              <li><a href="#contacto">Contacto</a></li>
          </ul>
      </nav>
  </header>

  <!-- info -->
  <div class="info">
      <div class="info-img">
          <img src="../assets/perfil.jpg" alt="foto de perfil" class="profile-img">
          <div class="btn-edit"><a href="#" class="btn-pen"><i class="fa-solid fa-pen-to-square"></i></a></div>
      </div>
      <div class="info-data">
          <h1>Francisco Marin</h1>
          <div class="info-contacto" id="#">
              <span>General Roca, Rio Negro (Argentina)</span>
              <p><a href="#" id="info-contact">informacion de contacto</a></p>
          </div>
      </div>
      <ul class="info-contact" id="contacto">
          <li><a href="#">telefono: 2994535581</a></li>
          <li><a href="#">email: panchymarin.fm@gmail.com</a></li>
      </ul>
      <div class="info-action">
          <button class="btn btn-primary">Tengo interes en</button>
          <button class="btn">Añadir seccion</button>
          <button class="btn">Mas...</button>
      </div>
  </div>

  
  <!-- <app-educacion></app-educacion> -->
  <!-- <app-experiencia></app-experiencia> -->

  
</div>