<!-- Retire de mi index html inicial mi card experiancia para agregarla como un componente aparte -->
<!-- experiencia -->
<section class="experiencia">
    <h2 id="experiencia">Experiencia</h2>
    <div class="  primera-experiencia">
        <p>
        Pagina estatica creada a base de css, html, y bootstrap junto con algo de JS.
        </p>
        <a href="#" class="link-exp">Crsitian Villablanca Tatto</a>
    </div>
    <div class="   primera-experiencia">
        <p >
        Pagina realizada con js, html, css. Con el framework Angular y Bootstrap
        </p>
        <a href="#" class="link-exp">Hilda Ales Seguros</a>
    </div>
</section>